.container {
  background: var(--color-neutral-102);
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.book {
  --book-width: 448px;
  --book-height: 706px;
  --book-spine-width: 10px;

  position: relative;

  width: 896px;
  height: 706px;
}

.bookSpine {
  position: absolute;
  left: 448px;
  top: 0;
  width: 10px;
  height: 706px;

  user-select: none;
  -webkit-user-select: none;
}

.page {
  user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 0;
  left: 458px;
  width: 448px;
  height: 706px;

  transform-style: preserve-3d;
  transform-origin: left;
}

.pageFront,
.pageBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-user-drag: none;
}

.pageFront {
  z-index: 2;
}

.pageBack {
  transform: rotateY(180deg);
}