.container {
  background: var(--color-neutral-102);
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.book {
  --book-width: 448px;
  --book-height: 706px;
  --book-spine-width: 10px;

  position: relative;

  width: var(--book-width) + var(--book-spine-width);
  height: var(--book-height);

  display: flex;
  flex-direction: row;
}

.page {
  user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 0;
  left: 0;
  width: var(--book-width);
  height: var(--book-height);

  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 0.4s ease;
}

.pageFront,
.pageBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-user-drag: none;
}

.pageFront {
  z-index: 2;
}

.pageBack {
  transform: rotateY(180deg);
}