:root {
  /* 색상 */
  --color-neutral-100: #FFFFFF;
  --color-neutral-101: #F9F9F9;
  --color-neutral-102: #F8F8F8;
  --color-neutral-200: #F5F5F5;
  --color-neutral-400: #A0A0A0;
  --color-neutral-900: #121212;

  /* 레이아웃 */
  --layout-padding: 80px;

  /*텍스트 스타일 */
  --font-size-h1: 2.5rem; /* 40px */
  --line-height-h1: 1.3em;
  --font-weight-h1: 700;
  --letter-spacing-h1: -0.03125rem; /* -0.5px */

  --font-size-h2: 1.75rem; /* 28px */
  --line-height-h2: 1.4em;
  --font-weight-h2: 600;
  --letter-spacing-h2: -0.015625rem; /* -0.25px */

  --font-size-h3: 1.25rem; /* 20px */
  --line-height-h3: 1.5em;
  --font-weight-h3: 500;
  --letter-spacing-h3: -0.015625rem; /* -0.25px */

  --font-size-body: 1rem; /* 16px */
  --line-height-body: 1.6em;
  --font-weight-body: 400;
  --letter-spacing-body: 0;

  --font-size-caption: 0.875rem; /* 14px */
  --line-height-caption: 1.5em;
  --font-weight-caption: 400;
  --letter-spacing-caption: 0;

  /*간격*/
  --space-xsmall: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-large: 20px;
  --space-xlarge: 24px;
}

html, body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
  Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* H1 */
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--letter-spacing-h1);
}

/* H2 */
h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
  letter-spacing: var(--letter-spacing-h2);
}

/* H3 */
h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--letter-spacing-h3);
}

/* Body */
p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
  letter-spacing: var(--letter-spacing-body);
}

/* Caption */
small {
  display: block;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-caption);
  letter-spacing: var(--letter-spacing-caption);
}