.heroSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  background: var(--color-neutral-102);
  padding: var(--layout-padding);

}

.subtitle {
  margin-top: var(--space-xlarge);
}

.description {
  margin-top: var(--space-small);
  display: flex;
  flex-direction: column;
  gap: var(--space-xsmall)
}

.description > p {
  color: var(--color-neutral-400);
}

.cardSection {
  display: flex;
  gap: var(--space-large);
  flex-wrap: wrap;
  background: var(--color-neutral-102);
  height: auto;
  padding: 0 var(--layout-padding) var(--layout-padding) var(--layout-padding);
}