.cardContainer {
  --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  --card-shadow-hover: 0 2px 12px rgba(0, 0, 0, 0.12);
  --card-scale-hover: 1.02;
  --card-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  --card-radius: 16px;

  width: 305px;
  height: auto;

  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
  overflow: hidden;
  transition: var(--card-transition);

  text-decoration: none;
}

.cardContainer:hover {
  transform: scale(var(--card-scale-hover));
  box-shadow: var(--card-shadow-hover);
}

.image {
  width: 100%;
  height: 205px;
  object-fit: cover;
}

.textContainer {
  height: auto;
  padding: var(--space-medium);
}

.description {
  margin-top: var(--space-small);
  color: var(--color-neutral-400);
  white-space: pre-line;
}