.footer {
  display: flex;
  align-items: center;
  gap: var(--space-xlarge);

  background: var(--color-neutral-102);
  border-top: 1px solid var(--color-neutral-400);
  padding: var(--space-xlarge) var(--layout-padding);
}

.icon {
  --icon-size: 20px;

  height: var(--icon-size);
  width: var(--icon-size);
}