#app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#content {
  flex-grow: 1;
}

.bold {
  font-weight: bold;
}

.x-large {
  font-size: x-large;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}
